<% content_for :head do %>
  <script src="https://cdn.tiny.cloud/1/<%= Rails.application.credentials.dig(:tiny_mce, :api_key) %>/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>
<% end %>
<%= render "form", experience: @experience %>
<div class="mt-4">
  <%= link_to "â† Retour", experiences_path, class: "btn btn-blue" %>
</div>
